{% extends "base.html" %}

{% block title %}Submit{% endblock %}

{% block body %}
    <h1 class="text-center">Submit AA sequence</h1>

    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <form role="form" action="{{ url_for('.login') }}" method="post">
                {{ form.hidden_tag() }}

                <div class="form-group">
                    {{ form.sequence.label }}
                    {% if form.sequence.errors %}
                        {% for e in form.sequence.errors %}
                            <p class="help-block">{{ e }}</p>
                        {% endfor %}
                    {% endif %}
                    {{ form.sequence(class_="form-control") }}
                </div>
                

                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
        <div class="col-md-4"></div>
    </div>
{% endblock %}
